<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Evedove\AccessTicket\Api\Data\TicketInterface" type="Evedove\AccessTicket\Model\Ticket"/>
    <preference for="Evedove\AccessTicket\Api\Data\TicketSearchResultsInterface" type="Evedove\AccessTicket\Model\TicketSearchResults"/>
    <preference for="Evedove\AccessTicket\Api\TicketRepositoryInterface" type="Evedove\AccessTicket\Model\TicketRepository"/>
    <preference for="Evedove\AccessTicket\Api\Data\AccessRequestInterface" type="Evedove\AccessTicket\Model\AccessRequest"/>
    <preference for="Evedove\AccessTicket\Api\Data\AccessRequestSearchResultsInterface" type="Evedove\AccessTicket\Model\AccessRequestSearchResults"/>
    <preference for="Evedove\AccessTicket\Api\AccessRequestRepositoryInterface" type="Evedove\AccessTicket\Model\AccessRequestRepository"/>
    <preference for="Evedove\AccessTicket\Api\Data\AccessInterface" type="Evedove\AccessTicket\Model\Access"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="accessticket_ticket_listing_data_source" xsi:type="string">AccessTicketTicketCollection</item>
                <item name="accessticket_access_request_listing_data_source" xsi:type="string">AccessTicketAccessRequestCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="AccessTicketTicketCollection" type="Evedove\AccessTicket\Ui\DataProvider\Ticket\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">accessticket_ticket</argument>
            <argument name="resourceModel" xsi:type="string">Evedove\AccessTicket\Model\ResourceModel\Ticket</argument>
        </arguments>
    </virtualType>
    <virtualType name="AccessTicketAccessRequestCollection" type="Evedove\AccessTicket\Ui\DataProvider\AccessRequest\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">accessticket_access_request</argument>
            <argument name="resourceModel" xsi:type="string">Evedove\AccessTicket\Model\ResourceModel\AccessRequest</argument>
        </arguments>
    </virtualType>
</config>
